@import '../../../assets/style/global.scss';


.section-five{
    margin: 60px 90px 0 90px;
    display: flex;
    gap: 120px;

    @include respond(phone){
        flex-direction: column;
        margin: 30px 16px 0 16px;
        gap: 0;
    }
   
    &__left{
       &__logo{
           width: 20px;
           height: 28px;    
           
            @include respond(phone){
                width: 16px;
                height: 22px;
            }
       }

       & > h1 {
           margin-top: 10px;
           width: 140px;
           height: 41px;
           font-weight: 700;
           font-size: 34px;
           line-height: 41px;
           color: #1B2330;

            @include respond(phone){
                margin-top: 10px ;
                width: 74px;
                font-size: 18px;
                line-height: 22px;
            } 
       }

       &__meet{
           margin-top: 30px;
           width: 500px;
           height: 320px;   

            @include respond(phone){
                margin-top: 20px ;
                width: 343px;
                border-radius: 15px;
                line-height: 210px;
            } 
       }

    }

    &__right{
        margin-top: 31px;

        @include respond(phone){
            margin-top: 20px;
        } 

        &__pointer{
            display: flex;
            justify-content: flex-end;
            gap: 20px;

            @include respond(phone){
                display: none;
            } 

            &-left{
                width: 48px;
                height: 48px;
                border-radius: 100%;
                border: none;
                & > img{
                    width: 12.86px;
                    height: 6.86px;
                    color: #1B2330;
                    margin-bottom: 2px;

                }

                &:hover{
                    cursor: pointer;
                    border: solid 1px black;

                }
            }
            &-right{
                width: 48px;
                height: 48px;
                border-radius: 100%;
                border: none;
            
                & > img{
                    width: 12.86px;
                    height: 6.86px;
                    color: #1B2330;
                    vertical-align: middle;
                    margin-bottom: 2px;
                }

                &:hover{
                    cursor: pointer;
                    border: solid 1px black;

                }

            }
        }

        & > h1{
            margin-top: 30px;
            width: 102px;
            height: 54px;
            font-weight: 700;
            font-size: 45px;
            line-height: 54px;
            color: #1B2330;

            @include respond(phone){
                margin-top: 0;
                width: 55px;
                height: 29px;
                font-weight: 700;
                font-size: 24px;
                line-height: 29px;
            } 
        }

        & > p {
            margin-top: 20px;
            max-width: 640px;
            height: 192px;
            font-weight: 400;
            font-size: 17px;
            line-height: 24px;
            color: #1B2330;

            @include respond(phone){
                width: 343px;
                height: 286px;
                font-size: 16px;
                line-height: 22px;
            } 
        }

        &__dates{
            display: flex;
            gap: 30px;

            @include respond(phone){
                gap: 20px;
            }


            & > h1{
                width: 98px;
                height: 54px;
                font-weight: 700;
                font-size: 45px;
                line-height: 54px;
                color: rgba(27, 35, 48, 0.5);

                @include respond(phone){
                    width: 53px;
                    height: 29px;
                    font-size: 24px;
                    line-height: 29px;
                    color: #72767D;

                    
                } 
            }

            &-5 {
                @include respond(phone){
                   display: none; 
                } 

            }

        }

    }
}