@import '../../assets/style/global.scss';

.section{
    // width: 1440px;
    // margin: auto;
    // display: grid;
    transform: translateY(-170px);
    mix-blend-mode: multiply;

    @include respond(phone){
        width: 100%;
    }

    &-zero{
        position: relative;
       
        // &__image{
        //     background-image: url(../../assets/images/waiter4x.png);
        //     height: 780px;
        //     filter: brightness(80%);

        //     @include respond(phone){
        //         background-image: url(../../assets//images/waiterMobile.png);
        //         background-repeat: no-repeat;
        //         width: 375px;
        //         height: 250px;
        //         margin-top: 105px;
        //         filter: brightness(100%);
        //     }
        // }

        &__imageCaorusel{
            height: 780px;
            filter: brightness(80%);
            background-size: cover;


            @include respond(phone){
                width: 100%;
                height: 250px;
                margin-top: 105px;
            }

        }    

        &__dotsContainer{
            display: flex;
            gap: 25px;
            position: absolute;
            right: 90px;
            bottom: 60px;

            @include respond(phone){
                gap: 15.56px;
                bottom: 165px;
                right: 130px;


            }


            &-dots{
               width: 30px;
               height: 30px;
               border-radius: 50%;
               border: 1.45px solid #FFFFFF;

               @include respond(phone){
                width: 18.89px;
                height: 18.89px;



               }
               
               &.active{
                   background-color: #FFFFFF;
               }
               &:hover{
                   cursor: pointer;
                   background-color: #FFFFFF;
               }
            }

        }
        

        &__wrapper{
            position: absolute;
            top: 410px;
            left: 90px;

            @include respond (phone) {
                position: static;
                padding: 0 15px;
            }

            & > img{
                width: 40px;
                height: 55px;

                @include respond (phone) {
                    display: none;
                }
            }

            & > h1 {
                margin-top: 15px;
                max-width: 593px;
                min-height: 162px;
                font-weight: 700;
                font-size: 45px;
                line-height: 54px;
                color: #FFFFFF;

                @include respond (phone) {
                    max-width: 300px;
                    min-height: auto;
                    font-size: 18px;
                    line-height: 22px;
                    color: $secondaryTextColor;
                }
            }

            & > button {
                margin-top: 30px;
                width: 163px;
                height: 48px;
                border-radius: 45px;
                background-color: $primaryGreenColor;
                border: none;
                color: #FFFFFF;
                font-weight: 600;
                font-size: 16px;
                line-height: 19.84px;

                @include respond (phone) {
                    margin-top: 20px;
                    width: 163px;
                    height: 48px;
                    font-size: 15px;
                    line-height: 19px;
                    color: #FFFFFF;
                }
                
                &:hover{
                    cursor: pointer;
                    text-decoration: underline;
                }

            }
        }
    }



    // ///// section one ///////////////////

    &-sections{
        max-width: 1440px;
        margin: auto;

        
        &-one{
            display: flex;
            justify-content: center;
            margin-top: 60px;  
            padding: 0 50px;
            // margin-left: 50px;
            // margin-right: 50px;
            gap: 80px;
        
            @include respond(phone){
                padding: 0;
                flex-direction: column;
                margin: 0;
                gap: 0px;
            }
        
        
            &__image{
                max-width: 445px;
                height: 600px;
                
        
                @include respond(phone){
                    margin-top: 30px;
                    width: 100%;
                    height: 418px;
                    object-fit: contain;
                }
            }
    
            &__wrapper{
                margin-top: 110.5px;
                // min-height: 200px;
    
                @include respond(phone) {
                    width: 100%;
                    margin-top: 20px;
                    padding: 0 16px;
    
                }
    
    
                .section-sections-one__img2{
                    width: 20px;
                    height: 28px;
    
                    @include respond(phone) {
                        width: 16px;
                        height: 22px;
                    }
    
                }
                .section-sections-one__heading{
                    font-weight: 700;
                    font-size: 34px;
                    line-height: 40.8px;
                    margin-top: 10px;
                    color: $secondaryTextColor;
    
                    @include respond(phone) {
                        font-size: 18px;
                        line-height: 21.6px;
                    }
                }
    
                .section-sections-one__text{
                    font-size: 17px;
                    font-weight: 400;
                    line-height: 23.8px;
                    color: $secondaryTextColor;
                    max-width: 689px;
                    min-height: 192px;
                    margin-top: 30px;
    
                    @include respond(phone) {
                        margin-top: 20px;
                        font-size: 16px;
                        line-height: 22.4px;
                        
                    }
                }
    
                .section-sections-one__btn{
                    width: 163px;
                    height: 48px;
                    border-radius: 45px;
                    background-color: $primaryGreenColor;
                    border: none;
                    margin-top: 30px;
                    color: #FFFFFF;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 19.84px;
    
                    &:hover{
                        cursor: pointer;
                        text-decoration: underline;
                    }
    
                    @include respond(phone) {
                        font-size: 16px;
                        width: 163px;
                        height: 48px;
                    }
                }
    
    
            }
        }
    
    
        // //////// section two //////////////////////////
    
        &-two{
            display: flex;
            margin-top: 62.36px;
            justify-content: space-around;
            
    
            @include respond(phone){
                flex-direction: column;
                margin-top: 32.27px;
                // margin-left: 16px;
                padding: 0 16px;
                gap: 33px;
            }
    
            &__wrapper{
                &-inner{
                    display: flex;
                    & > img {
                        width: 39.97px;
                        height: 35.46px;
                    }
                    & > p {
                        display: flex;
                        font-size: 30px;
                        font-weight: 500;
                        line-height: 36px;
                        width: 131px;
                        height: 36px;
                        color: #1B2330;
                        margin-left: 10px;
                        align-items: center;
                        gap: 5px;
                        & > span {
                            width: 45px;
                            height: 22px;
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 22px;
    
                            @include respond(phone){
                                font-size: 16px;
                                line-height: 19px;
                            }
                            
                            
                        }
    
                    }
                    & + p {
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 22px;
                        color: #8B8B8B;
                        margin-top: 10px;
    
                        @include respond(phone){
                            font-size: 15px;
                            line-height: 18px;
                        }
                    }
                }
            }
        }
    
    
        // ///////////// section three ///////////////////////
    
        &-three{
            display: flex;
            margin-top: 60px;
            justify-content: space-around;
            padding: 0 25px;
    
            @include respond(phone){
                flex-direction: column;
                margin-top: 30px;
                // margin-left: 16px;
                padding: 0 16px;
            }
            &-left{
                margin-right: 64px;
                @include respond(phone){
                    width: 100%;
                    margin: 0;
                }
                & > img{
                    width: 20px;
                    height: 28px;
    
                    @include respond(phone){
                        width: 16px;
                        height: 22px;
                    }
                }
                & > h1{
                    margin-top: 10px;
                    font-weight: 700;
                    font-size: 34px;
                    line-height: 41px;
                    color: $secondaryTextColor;
    
                    @include respond(phone){
                        font-size: 18px;
                        line-height: 22px;
                    }
                    & > span {
                      color: $primaryGreenColor;  
                    }
                }
    
                & > p {
                    margin-top: 30px;
                    max-width: 389px;
                    min-height: 240px;
                    font-weight: 400;
                    font-size: 17px;
                    line-height: 24px;
                    color: $secondaryTextColor;
    
                    @include respond(phone){
                        margin-top: 20px;
                        font-size: 16px;
                        line-height: 22px;
                        // width: 350px;
                        // height: 242px;
                    }
    
                }
    
            }
    
            &-right{
                margin-top: 52px;
    
                @include respond(phone){
                    margin-top: 14px;
                }
                &__wrapper{
                    display: flex;
                    margin-top: 16px;
                    justify-content: space-between;
                    align-items: center;
                    gap: 60px;

                    @include respond(phone){
                        gap: 20px;
                    }

    
                    & > span {
                        // max-width: 21px;
                        // min-height: 28px;
                        // margin-right: 60px ;
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 28px;
                        color: #000000;
    
                        @include respond(phone){
                            width: 19px;
                            height: 25px;
                            font-size: 18px;
                            line-height: 25px;
                            margin-right: 20px;
                        }
                    }
    
                    & > p {
                        flex-basis: 70%;// max-width: 516px;
                        // min-height: 25px;
                        // margin-right: 100px;
                        // padding-right: 110px;
                        font-family: 400;
                        font-size: 18px;
                        line-height: 25px;
                        color: $secondaryTextColor;
    
                        @include respond(phone){
                            max-width: 184px;
                            min-height: 63px;
                            font-size: 15px;
                            line-height: 21px;
                            margin-right: 20px;
                            padding-right: 0;
                        }
            
                    }
    
                    
    
                    & > img {
                        max-width: 110px;
                        height: 60px;
                        border-radius: 2px;
    
                        @include respond(phone){
                            width: 100px;
                            height: 70px;
                            border-radius: 5px;
                        }
                    }
    
                }
                &__horizontalLine{
                    max-width: 697px;
                    height: 1px;
                    background: #D9D9D9;
                    position: relative;
                    top: 10px;
    
                    @include respond(phone){
                        width: 343px;
                    }
                    
                }
            }
        }


    }    
    

    // ////////// section four /////////////@include

    &-four{
        position: relative;
        margin-top: 80px;

        @include respond(phone){
            margin-top: 30px;
        }
      

        &__image {
            background-image: url(../../assets//images/meeting.png);
            height: 584px;
            background-size: cover;
            filter: brightness(80%);

            @include respond(phone){
                width: 100%;
                height: 300px;
                background-image: url(../../assets/images/meetingMobile.png);
            }
        }

        &__wrapper{
            position: absolute;
            top: 30px;
            left: 90px;

            @include respond(phone){
                top: 20.12px;
                left: 16px;
            }

            & > img {
                width: 153.43px;
                height: 55px;

                @include respond(phone){
                    width: 99.73px;
                    height: 35.75px;
                }
            }
            & > h1 {
               margin-top: 60px;
               max-width: 536px;
               height: 41px;
               font-weight: 700;
               font-size: 34px;
               line-height: 41px; 
               color: #FFFFFF;

                @include respond(phone){
                    margin-top: 20.12px;
                    width: 146px;
                    height: 44px;
                    font-size: 18px;
                    line-height: 22px;
                }
            }

            &__horizontalLine{
                width: 386px;
                height: 2px;
                background: #FFFFFF;
                margin-top: 15px;

                @include respond(phone){
                    width: 150px;
                }
            }
            & > p {
               margin-top: 15px;
               width: 536px;
               height: 48px; 
               font-weight: 500;
               font-size: 20px;
               line-height: 24px;
               color: #FFFFFF;

               @include respond(phone){
                width: 195px;
                height: 95px;
                font-size: 16px;
                line-height: 19px;
                }
            }
        }
    }







}

