@import "../../assets//style/global.scss";

.corporatePage {
  margin: 30px 0 60px;

  &-top {
    &-hero {
      margin-bottom: 60px;
      @extend %custom-hero;
      background-image: url("../../assets/images/services-corporatePage-hero.jpg");

      &-wrapper {
        @extend %custom-heroWrapper;
      }
    }
  }

  .service-bottom-products-item:last-child {
    max-width: 1121px;
  }
}

@media only screen and (max-width: 856px) {
  .corporatePage {
    margin-bottom: 30px;

    &-top {
      &-hero {
        margin-bottom: 30px;
        background-image: url("../../assets/images/services-corporatePage-hero-mobile.jpg");
      }
    }
  }
}