@import '../../../assets//style/global.scss';

.about-section-seven{
    margin: 78px auto 0 auto;
    max-width: 1440px;
    padding: 0px 90px 0 90px;

    @include respond(phone){
        margin: 30px 16px 0 16px;
        padding: 0;
        // width: 375px;   
    }


    &__wrapper{

        display: flex;
        justify-content: space-between;

        @include respond(phone){
            flex-direction: column;
        }

        &-right{
            & > img{
                // width: 20px;
                // height: 28px;    
                
                 @include respond(phone){
                     width: 16px;
                     height: 22px;
                 }

            }

            & > h1 {
                margin-top: 10px;
                font-weight: 700;
                font-size: 34px;
                line-height: 41px;
                color: $secondaryTextColor;
     
                 @include respond(phone){
                     margin-top: 10px ;
                     font-size: 18px;
                     line-height: 22px;
                 } 

            }

        }
        &-left{
            margin-top: 27px;
            display: flex;
            gap: 20px;

            @include respond(phone){
                margin-top: 0px;

             } 


            & > button {
                width: 48px;
                height: 48px;
                border-radius: 100%;
                border: none;

                @include respond(phone){
                   display: none;
                } 
                
                & > img {
                    width: 12.86px;
                    height: 6.86px;
                    color: $secondaryTextColor;
                    margin-bottom: 2px;

                    @include respond(phone){
                        display: none;
                     } 

                }


                &:hover{
                    cursor: pointer;
                    border: solid 1px black;

                }
            }

        }
    }

    &__carouselImgContainer{
        display: flex;
        gap: 30px;
        overflow-x: hidden;
        margin-top: 30px;


        @include respond(phone){
            margin-top: 10px;
            overflow-x: scroll;
         } 
        
        

        & > img{
            width: 500px;
            height: 320px;
            border-radius: 20px;
            transition: transform 0.3s ease-out;

            @include respond(phone){
                width: 280px;
                height: 172px;
                border-radius: 10px;

             } 
        }
    }

    
}